<section id="team" class="team">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-center">

            <p class="text-left">
              Looks like you tried to access a link that does not exist yet, not to worry. We are working hard to get all the info up and ready very soon.
              In the meantime you can contact us at <a href="mailto:info@datascienceafrica.org">info@datascienceafrica.org</a> or follow us on <a href="https://twitter.com/dsa_org" target="_blank">twitter</a> for updates.
            </p>

        </div>
    </div>
</section>
